<?xml version="1.0" encoding="utf-8"?>
<API>
  <api key="addskin" url="http://xy.taedu.gov.cn:81/uchome/SysManage/AddSkin" displayname="增加皮肤"></api>
  <api key="getuserbyidfromredis" url="http://xy.taedu.gov.cn:81/RedisCache.Api/api/user" displayname="根据用户ID获取用户信息"></api>
  <api key="getarticlecount" url="http://localhost/uchome/home/GetArticleCountById" displayname="获取用户文章数"></api>
  <api key="getresourcecount" url="http://xy.taedu.gov.cn:81/RedisCache.Api/api/resource/statistic/userAudit" displayname="获取用户资源数"></api>
  <api key="schoolResources" url="http://xy.taedu.gov.cn:81/RedisCache.Api/api/resource/toplist/" displayname="学校资源"></api>
  <api key="SumschoolResources" url="http://xy.taedu.gov.cn:81/RedisCache.Api/api/resource/statistic/schoolResCount/" displayname="学校资源总数统计"></api>
  <api key="CityResource" url="http://xy.taedu.gov.cn:81/RedisCache.Api/api/resource/cityRes/byCreateTimeDesc" displayname="市级资源"></api>
  <api key="CityResourceCount" url="http://xy.taedu.gov.cn:81/RedisCache.Api/api/resource/cityRes/TotalCount" displayname="市级资源总数"></api>
  <api key="AreaResource" url="http://xy.taedu.gov.cn:81/RedisCache.Api/api/resource/areaRes/byCreateTimeDesc" displayname="区县级资源总数"></api>
  <api key="getresourceorder" url="http://xy.taedu.gov.cn:81/RedisCache.Api/api/resource/statistic/userResOrder" displayname="获取用户资源数"></api>
  <api key="getebookdata" url="http://taixue.istudy.sh.cn/OnlineStudy.Api/api/course/teachercourses" displayname="获取用户教案数"></api>
  <api key="getesourceRank" url="http://xy.taedu.gov.cn:81/RedisCache.Api/api/resource/statistic/userResOrder/" displayname="获取用户上传资源数量在各个层级的排名"></api>
  <api key="weekUploadCount" url="http://xy.taedu.gov.cn:81/RedisCache.Api/api/resource/user/WeekUploadCount" displayname="获取用户某周上传资源数"></api>
  <api key="weekCollectCount" url="http://xy.taedu.gov.cn:81/RedisCache.Api/api/resource/user/WeekCollectCount" displayname="获取用户某周收藏资源数"></api>
  <api key="weekCommentCount" url="http://xy.taedu.gov.cn:81/RedisCache.Api/api/resource/user/WeekCommentCount" displayname="获取用户某周评论资源数"></api>
  <api key="userBeDownloaded" url="http://xy.taedu.gov.cn:81/RedisCache.Api/api/resource/user/userBeDownloaded" displayname="获取用户资源被下载信息（次数，市排名）"></api>
  <api key="getschooltea" url="http://xy.taedu.gov.cn:81/RedisCache.Api/api/user/SchoolUsers/teacher" displayname="获取学校教师"></api>
  <api key="getschoolstu" url="http://xy.taedu.gov.cn:81/RedisCache.Api/api/user/SchoolUsers/student" displayname="获取学校学生"></api>
  <api key="getschooluser" url="http://xy.taedu.gov.cn:81/RedisCache.Api/api/user/SchoolUsers" displayname="获取学校用户"></api>
  <api key="getdaytask" url="http://xy.taedu.gov.cn:81/TaskIntegral.Api/api/teacherTaskList"></api>
  <api key="schoolcalendar" url="http://localhost:84/schoolcalendar.api/api/schoolcalendar/"></api>
  <api key="errorQuestionType" url="http://111.17.215.232:96/OnlineStudy.Api/api/basic/questiontype"></api>
  <api key="errorQuestionSubject" url="http://111.17.215.232:96/OnlineStudy.Api/api/student/errorsubject/"></api>
  <api key="errorQuestionVersion" url="http://111.17.215.232:96/OnlineStudy.Api/api/student/errorversion/"></api>
  <api key="errorQuestionGrade" url="http://111.17.215.232:96/OnlineStudy.Api/api/student/errorgrade/"></api>
  <api key="studentErrorList" url="http://111.17.215.232:96/OnlineStudy.Api/api/student/errorlist"></api>
  <api key="studentErrorCount" url="http://localhost:84/ErrorCollection.Api/api/ErrorCollection/GetErrorCount"></api>
  <api key="getstucourse" url="http://jxts.taedu.gov.cn:96/OnlineStudy.Api/api/course/studentcourses"></api>
  <api key="getclassaction" url="http://localhost/UCHome/StudentAffairs/GetClassActivities"></api>
  <api key="getschnotices" url="http://localhost:84/OA.Notice.Api/api/Notice/GetNotices"></api>
  <api key="getresourcebywhere" url="http://jx.taedu.gov.cn:83/Resource.Portal.Web/SubjectResource/GetResource"></api>
  <api key="getpersonresbywhere" url="  http://jx.taedu.gov.cn:83/Resource.Portal.Web/PersonCenter/GetResource"></api>
  <api key="ProjectList" url="http://111.17.215.232:8008/APMS/_service/System.Service.Interfaces.asmx/Project_List?supw=system2014" displayname="考试列表"></api>
  <api key="SubjectList" url="http://111.17.215.232:8008/APMS/_service/System.Service.Interfaces.asmx/Project_Detail_List?supw=system2014" displayname="科目列表"></api>
  <api key="ParentsRegister" url="http://192.168.99.137:84/TAWSAF.API/api/User/AddUser" displayname="家长注册"></api>
  <api key="CheckUseAndPas" url="http://www.taedu.gov.cn/SEP.Wef/WebServices/AuthorizationService.asmx/CheckUserPassword" displayname="验证用户名和密码"></api>
  <api key="GetLessonPlan" url="http://jxts.taedu.gov.cn:96/OnlineStudy.Api/api/course/coures" displayname="获取课件"></api>
</API>
