<?xml version="1.0" encoding="utf-8"?>
<OutputCache xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Settings>
    <Setting Duration="3" FilePath="/Pages/a3.aspx"  />
    <Setting Duration="10" FilePath="/Pages/a5.aspx"  />
  </Settings>
</OutputCache>
