<li><a target="_blank" href="http://www.taedu.gov.cn/CMS/Home/Detail?infoid=53a6f05e-044f-47e0-9ec2-075217a33f35&cateid=7a3f244f-627d-4ae1-861c-d6e8de2fb143">▪   宁阳县积极参加“百万新疆各族少年儿童与内地少年……</a><span>2014-10-24</span></li>
<li><a target="_blank" href="http://www.taedu.gov.cn/CMS/Home/Detail?infoid=98d020e0-1587-4061-8ec5-d64f0e6828c2&cateid=7a3f244f-627d-4ae1-861c-d6e8de2fb143">▪   宁阳县少先队建队节活动精彩纷呈……</a><span>2014-10-13</span></li>
<li><a target="_blank" href="http://www.taedu.gov.cn/CMS/Home/Detail?infoid=52c3aa53-558b-435d-881c-19475a522018&cateid=7a3f244f-627d-4ae1-861c-d6e8de2fb143">▪   宁阳县创新德育模式 立体化推动德育全覆盖……</a><span>2014-10-09</span></li>
<li><a target="_blank" href="http://www.taedu.gov.cn/CMS/Home/Detail?infoid=939d8eb8-0d0c-4c5e-bcb3-296dc23fa184&cateid=7a3f244f-627d-4ae1-861c-d6e8de2fb143">▪   宁阳县四项措施治理教育乱收费……</a><span>2014-07-25</span></li>
<li><a target="_blank" href="http://www.taedu.gov.cn/CMS/Home/Detail?infoid=5a6076e1-3774-49dd-ae0a-f6d00b9ebc03&cateid=fc3e5264-212d-44fc-8cb5-bc2a6c520867">▪   关于召开全市中小学数字化校园建设推进会的通知……</a><span>2014-07-29</span></li>
