<ul>
    <li><a href="http://jx.taedu.gov.cn:83/TeacherIndex" target="_blank">● 课程教学</a></li>
    <li><a href="http://www.taedu.gov.cn/UCHome/ClassZoom/ClassZoom" target="_blank">● 班级空间</a></li>
    <li><a href="http://www.taedu.gov.cn/UCHome/SchoolZoom/SchoolZoom" target="_blank">● 学校空间</a></li>
    <li onclick="openwindow('http://jx.taedu.gov.cn:83/indexweb',1000,500,'资源视频')">● 资源视频</li>
    <li onclick="openwindow('http://www.taedu.gov.cn/WebSite.SXK/',1000,500,'在线培训')">● 在线培训</li>
    <li onclick="openwindow('http://www.taedu.gov.cn/WebSite.JCJY/',1000,500,'在线教研')">● 在线教研</li>
    <li onclick="openwindow('http://xy.taedu.gov.cn:81/AskForLeave.Web/ALApply/Create',1000,500,'请假申请')">● 请假申请</li>
    <li onclick="openwindow('http://xy.taedu.gov.cn:81/WorkCenter/Home/Index/c8eec959-608b-4a5e-b5cf-7858f3d26951',1000,500,'加班申请')">● 加班申请</li>
    <li onclick="openwindow('http://jx.taedu.gov.cn:83/WebClientFrame/apps/CourseEditor/Index.html',1000,500,'教案备课')">● 教案备课</li>
    <li onclick="openwindow('http://xy.taedu.gov.cn:81/WorkCenter/Home/Index/c8eec959-608b-4a5e-b5cf-7858f3d26951',1000,500,'薪资查询')">● 薪资查询</li>
</ul>
