@model UCHome.Model.UCHome_BaseInfo
<ul>
    <li class="clearfix">
        <span class="where_type">学段</span>
        <ul id="search_where_section" class="search_where_ul">
            <li name="section" value="c35be28e-edb5-4191-83ee-63b5a19acb2b">幼教</li>
            <li name="section" value="7813E19A-1BF5-4219-B013-168A9297598F">小学</li>
            <li name="section" value="18910BD9-E745-498B-9702-1962D7955283">初中</li>
            <li name="section" value="0995408E-D28E-41B5-8BB6-351262CCBA05">高中</li>
        </ul>
    </li>
    <li class="clearfix">
        <span class="where_type">学科</span>
        <ul id="search_type_subject" class="search_where_ul">
        </ul>
    </li>
     <li class="clearfix">
        <span class="where_type">版本</span>
        <ul id="search_type_version" class="search_where_ul">
        </ul>
    </li>
    <li class="clearfix">
        <span class="where_type">年级</span>
        <ul id="search_type_grade" class="search_where_ul">           
        </ul>
    </li>
</ul>
