body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../学校信息_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:43px;
    width:1100px;
    height:947px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1106px;
    height:953px;
}

.u1 {
    position:absolute;
    left:2px;
    top:466px;
    width:1096px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:0px;
    top:43px;
    width:1100px;
    height:947px
}

.u2_original {
    background-image: url('../学校信息_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1100px;
    height:43px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1106px;
    height:49px;
}

.u3 {
    position:absolute;
    left:2px;
    top:14px;
    width:1096px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:0px;
    top:0px;
    width:1100px;
    height:43px
}

.u4 {
    position:absolute;
    left:50px;
    top:9px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_original {
    background-image: url('../学校信息_files/u5_original.png');
}

.u5_container {
    position:absolute;
    left:50px;
    top:43px;
    width:1000px;
    height:947px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1000px;
    height:947px;
}

.u6 {
    position:absolute;
    left:2px;
    top:466px;
    width:996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:50px;
    top:43px;
    width:1000px;
    height:947px
}

.u7 {
    position:absolute;
    left:280px;
    top:12px;
    width:60px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:400px;
    top:12px;
    width:60px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:520px;
    top:12px;
    width:60px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_original {
    background-image: url('../学校信息_files/u10_original.png');
}

.u10_container {
    position:absolute;
    left:255px;
    top:13px;
    width:16px;
    height:16px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u11 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:255px;
    top:13px;
    width:16px;
    height:16px
}

.u12_original {
    background-image: url('../学校信息_files/u12_original.png');
}

.u12_container {
    position:absolute;
    left:375px;
    top:13px;
    width:16px;
    height:16px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u13 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:375px;
    top:13px;
    width:16px;
    height:16px
}

.u14 {
    position:absolute;
    left:992px;
    top:12px;
    width:70px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_original {
    background-image: url('../学校信息_files/u15_original.png');
}

.u15_container {
    position:absolute;
    left:300px;
    top:80px;
    width:740px;
    height:900px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:746px;
    height:906px;
}

.u16 {
    position:absolute;
    left:2px;
    top:442px;
    width:736px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:300px;
    top:80px;
    width:740px;
    height:900px
}

.u17_original {
    background-image: url('../学校信息_files/u17_original.png');
}

.u17_container {
    position:absolute;
    left:60px;
    top:80px;
    width:229px;
    height:230px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:235px;
    height:236px;
}

.u18 {
    position:absolute;
    left:2px;
    top:107px;
    width:225px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:60px;
    top:80px;
    width:229px;
    height:230px
}

.u19_original {
    background-image: url('../学校信息_files/u19_original.png');
}

.u19_container {
    position:absolute;
    left:60px;
    top:80px;
    width:230px;
    height:60px;
}

#u19_img {
    position:absolute;
    left:0px;
    top:0px;
    width:230px;
    height:60px;
}

.u20 {
    position:absolute;
    left:2px;
    top:22px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:60px;
    top:80px;
    width:230px;
    height:60px
}

.u21_original {
    background-image: url('../学校信息_files/u21_original.png');
}

.u21_container {
    position:absolute;
    left:140px;
    top:110px;
    width:60px;
    height:60px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:60px;
}

.u22 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:140px;
    top:110px;
    width:60px;
    height:60px
}

.u23_original {
    background-image: url('../学校信息_files/u23_original.png');
}

.u23_container {
    position:absolute;
    left:60px;
    top:320px;
    width:230px;
    height:400px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:236px;
    height:406px;
}

.u24 {
    position:absolute;
    left:2px;
    top:192px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:60px;
    top:320px;
    width:230px;
    height:400px
}

.u25_original {
    background-image: url('../学校信息_files/u25_original.png');
}

.u25_container {
    position:absolute;
    left:60px;
    top:320px;
    width:230px;
    height:40px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:236px;
    height:46px;
}

.u26 {
    position:absolute;
    left:2px;
    top:12px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:60px;
    top:320px;
    width:230px;
    height:40px
}

.u27 {
    position:absolute;
    left:99px;
    top:329px;
    width:71px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_original {
    background-image: url('../学校信息_files/u28_original.png');
}

.u28_container {
    position:absolute;
    left:76px;
    top:336px;
    width:9px;
    height:9px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u29 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:76px;
    top:336px;
    width:9px;
    height:9px
}

.u30_original {
    background-image: url('../学校信息_files/u25_original.png');
}

.u30_container {
    position:absolute;
    left:60px;
    top:680px;
    width:230px;
    height:40px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:236px;
    height:46px;
}

.u31 {
    position:absolute;
    left:2px;
    top:12px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:60px;
    top:680px;
    width:230px;
    height:40px
}

.u32 {
    position:absolute;
    left:89px;
    top:690px;
    width:30px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_original {
    background-image: url('../学校信息_files/u33_original.png');
}

.u33_container {
    position:absolute;
    left:70px;
    top:692px;
    width:16px;
    height:16px;
}

#u33_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u34 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:70px;
    top:692px;
    width:16px;
    height:16px
}

.u35 {
    position:absolute;
    left:254px;
    top:690px;
    width:30px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_original {
    background-image: url('../学校信息_files/u36_original.png');
}

.u36_container {
    position:absolute;
    left:235px;
    top:692px;
    width:16px;
    height:16px;
}

#u36_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u37 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:235px;
    top:692px;
    width:16px;
    height:16px
}

.u38_original {
    background-image: url('../学校信息_files/u38_original.png');
}

.u38_container {
    position:absolute;
    left:60px;
    top:730px;
    width:230px;
    height:250px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:236px;
    height:256px;
}

.u39 {
    position:absolute;
    left:2px;
    top:117px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:60px;
    top:730px;
    width:230px;
    height:250px
}

.u40_original {
    background-image: url('../学校信息_files/u25_original.png');
}

.u40_container {
    position:absolute;
    left:60px;
    top:730px;
    width:230px;
    height:40px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:236px;
    height:46px;
}

.u41 {
    position:absolute;
    left:2px;
    top:12px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:60px;
    top:730px;
    width:230px;
    height:40px
}

.u42 {
    position:absolute;
    left:99px;
    top:739px;
    width:71px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_original {
    background-image: url('../学校信息_files/u28_original.png');
}

.u43_container {
    position:absolute;
    left:76px;
    top:746px;
    width:9px;
    height:9px;
}

#u43_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u44 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:76px;
    top:746px;
    width:9px;
    height:9px
}

.u45 {
    position:absolute;
    left:95px;
    top:190px;
    width:170px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:145px;
    top:220px;
    width:50px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:115px;
    top:265px;
    width:75px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:214px;
    top:265px;
    width:56px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_original {
    background-image: url('../学校信息_files/u49_original.png');
}

.u49_container {
    position:absolute;
    left:300px;
    top:80px;
    width:740px;
    height:70px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:746px;
    height:76px;
}

.u50 {
    position:absolute;
    left:2px;
    top:27px;
    width:736px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:300px;
    top:80px;
    width:740px;
    height:70px
}

.u51 {
    position:absolute;
    left:370px;
    top:90px;
    width:71px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_original {
    background-image: url('../学校信息_files/u52_original.png');
}

.u52_container {
    position:absolute;
    left:313px;
    top:90px;
    width:47px;
    height:43px;
}

#u52_img {
    position:absolute;
    left:0px;
    top:0px;
    width:47px;
    height:43px;
}

.u53 {
    position:absolute;
    left:2px;
    top:14px;
    width:43px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:313px;
    top:90px;
    width:47px;
    height:43px
}

.u54 {
    position:absolute;
    left:360px;
    top:180px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_original {
    background-image: url('../学校信息_files/u55_original.png');
}

.u55_container {
    position:absolute;
    left:190px;
    top:266px;
    width:18px;
    height:18px;
}

#u55_img {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:18px;
}

.u56 {
    position:absolute;
    left:2px;
    top:1px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:190px;
    top:266px;
    width:18px;
    height:18px
}

.u57_original {
    background-image: url('../学校信息_files/u57_original.png');
}

.u57_container {
    position:absolute;
    left:90px;
    top:268px;
    width:18px;
    height:18px;
}

#u57_img {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:18px;
}

.u58 {
    position:absolute;
    left:2px;
    top:1px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:90px;
    top:268px;
    width:18px;
    height:18px
}

.u59_original {
    background-image: url('../学校信息_files/u59_original.png');
}

.u59_container {
    position:absolute;
    left:100px;
    top:381px;
    width:18px;
    height:18px;
}

#u59_img {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:18px;
}

.u60 {
    position:absolute;
    left:2px;
    top:1px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:100px;
    top:381px;
    width:18px;
    height:18px
}

.u61 {
    position:absolute;
    left:130px;
    top:380px;
    width:70px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_original {
    background-image: url('../学校信息_files/u62_original.png');
}

.u62_container {
    position:absolute;
    left:100px;
    top:421px;
    width:18px;
    height:18px;
}

#u62_img {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:18px;
}

.u63 {
    position:absolute;
    left:2px;
    top:1px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:100px;
    top:421px;
    width:18px;
    height:18px
}

.u64 {
    position:absolute;
    left:130px;
    top:420px;
    width:70px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_original {
    background-image: url('../学校信息_files/u65_original.png');
}

.u65_container {
    position:absolute;
    left:100px;
    top:461px;
    width:18px;
    height:18px;
}

#u65_img {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:18px;
}

.u66 {
    position:absolute;
    left:2px;
    top:1px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:100px;
    top:461px;
    width:18px;
    height:18px
}

.u67 {
    position:absolute;
    left:130px;
    top:460px;
    width:70px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_original {
    background-image: url('../学校信息_files/u68_original.png');
}

.u68_container {
    position:absolute;
    left:100px;
    top:541px;
    width:18px;
    height:18px;
}

#u68_img {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:18px;
}

.u69 {
    position:absolute;
    left:2px;
    top:1px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:100px;
    top:541px;
    width:18px;
    height:18px
}

.u70 {
    position:absolute;
    left:130px;
    top:540px;
    width:70px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_original {
    background-image: url('../学校信息_files/u71_original.png');
}

.u71_container {
    position:absolute;
    left:100px;
    top:501px;
    width:18px;
    height:18px;
}

#u71_img {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:18px;
}

.u72 {
    position:absolute;
    left:2px;
    top:1px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:100px;
    top:501px;
    width:18px;
    height:18px
}

.u73 {
    position:absolute;
    left:130px;
    top:500px;
    width:70px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_original {
    background-image: url('../学校信息_files/u74_original.png');
}

.u74_container {
    position:absolute;
    left:100px;
    top:581px;
    width:18px;
    height:18px;
}

#u74_img {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:18px;
}

.u75 {
    position:absolute;
    left:2px;
    top:1px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:100px;
    top:581px;
    width:18px;
    height:18px
}

.u76 {
    position:absolute;
    left:130px;
    top:580px;
    width:70px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_original {
    background-image: url('../学校信息_files/u77_original.png');
}

.u77_container {
    position:absolute;
    left:100px;
    top:621px;
    width:18px;
    height:18px;
}

#u77_img {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:18px;
}

.u78 {
    position:absolute;
    left:2px;
    top:1px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:100px;
    top:621px;
    width:18px;
    height:18px
}

.u79 {
    position:absolute;
    left:130px;
    top:620px;
    width:70px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_original {
    background-image: url('../学校信息_files/u71_original.png');
}

.u80_container {
    position:absolute;
    left:100px;
    top:791px;
    width:18px;
    height:18px;
}

#u80_img {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:18px;
}

.u81 {
    position:absolute;
    left:2px;
    top:1px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:100px;
    top:791px;
    width:18px;
    height:18px
}

.u82 {
    position:absolute;
    left:130px;
    top:790px;
    width:70px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_original {
    background-image: url('../学校信息_files/u68_original.png');
}

.u83_container {
    position:absolute;
    left:100px;
    top:831px;
    width:18px;
    height:18px;
}

#u83_img {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:18px;
}

.u84 {
    position:absolute;
    left:2px;
    top:1px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:100px;
    top:831px;
    width:18px;
    height:18px
}

.u85 {
    position:absolute;
    left:130px;
    top:830px;
    width:70px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_original {
    background-image: url('../学校信息_files/u74_original.png');
}

.u86_container {
    position:absolute;
    left:100px;
    top:871px;
    width:18px;
    height:18px;
}

#u86_img {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:18px;
}

.u87 {
    position:absolute;
    left:2px;
    top:1px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:100px;
    top:871px;
    width:18px;
    height:18px
}

.u88 {
    position:absolute;
    left:130px;
    top:870px;
    width:70px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_original {
    background-image: url('../学校信息_files/u77_original.png');
}

.u89_container {
    position:absolute;
    left:100px;
    top:911px;
    width:18px;
    height:18px;
}

#u89_img {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:18px;
}

.u90 {
    position:absolute;
    left:2px;
    top:1px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:100px;
    top:911px;
    width:18px;
    height:18px
}

.u91 {
    position:absolute;
    left:130px;
    top:910px;
    width:70px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_original {
    background-image: url('../学校信息_files/u62_original.png');
}

.u92_container {
    position:absolute;
    left:100px;
    top:951px;
    width:18px;
    height:18px;
}

#u92_img {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:18px;
}

.u93 {
    position:absolute;
    left:2px;
    top:1px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:100px;
    top:951px;
    width:18px;
    height:18px
}

.u94 {
    position:absolute;
    left:130px;
    top:950px;
    width:70px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:370px;
    top:115px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_original {
    background-image: url('../学校信息_files/u96_original.png');
}

.u96_container {
    position:absolute;
    left:829px;
    top:110px;
    width:100px;
    height:40px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u97 {
    position:absolute;
    left:2px;
    top:10px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:829px;
    top:110px;
    width:100px;
    height:40px
}

.u98_original {
    background-image: url('../学校信息_files/u98_original.png');
}

.u98_container {
    position:absolute;
    left:930px;
    top:109px;
    width:100px;
    height:40px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u99 {
    position:absolute;
    left:2px;
    top:10px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:930px;
    top:109px;
    width:100px;
    height:40px
}

.u100_original {
    background-image: url('../学校信息_files/u100_original.png');
}

.u100_container {
    position:absolute;
    left:330px;
    top:170px;
    width:690px;
    height:190px;
}

#u100_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:696px;
    height:196px;
}

.u101 {
    position:absolute;
    left:2px;
    top:87px;
    width:686px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:330px;
    top:170px;
    width:690px;
    height:190px
}

.u102 {
    position:absolute;
    left:375px;
    top:201px;
    width:70px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:455px;
    top:201px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_original {
    background-image: url('../学校信息_files/u104_original.png');
}

.u104_container {
    position:absolute;
    left:612px;
    top:202px;
    width:18px;
    height:18px;
}

#u104_img {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:18px;
}

.u105 {
    position:absolute;
    left:2px;
    top:1px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104 {
    position:absolute;
    left:612px;
    top:202px;
    width:18px;
    height:18px
}

.u106_original {
    background-image: url('../学校信息_files/u106_original.png');
}

.u106_container {
    position:absolute;
    left:360px;
    top:160px;
    width:80px;
    height:20px;
}

#u106_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:26px;
}

.u107 {
    position:absolute;
    left:2px;
    top:0px;
    width:76px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106 {
    position:absolute;
    left:360px;
    top:160px;
    width:80px;
    height:20px
}

.u108 {
    position:absolute;
    left:375px;
    top:231px;
    width:70px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:455px;
    top:231px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_original {
    background-image: url('../学校信息_files/u104_original.png');
}

.u110_container {
    position:absolute;
    left:550px;
    top:232px;
    width:18px;
    height:18px;
}

#u110_img {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:18px;
}

.u111 {
    position:absolute;
    left:2px;
    top:1px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110 {
    position:absolute;
    left:550px;
    top:232px;
    width:18px;
    height:18px
}

.u112 {
    position:absolute;
    left:375px;
    top:261px;
    width:70px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:455px;
    top:261px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_original {
    background-image: url('../学校信息_files/u104_original.png');
}

.u114_container {
    position:absolute;
    left:512px;
    top:262px;
    width:18px;
    height:18px;
}

#u114_img {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:18px;
}

.u115 {
    position:absolute;
    left:2px;
    top:1px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:512px;
    top:262px;
    width:18px;
    height:18px
}

.u116 {
    position:absolute;
    left:375px;
    top:291px;
    width:70px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117 {
    position:absolute;
    left:505px;
    top:291px;
    width:45px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_original {
    background-image: url('../学校信息_files/u104_original.png');
}

.u118_container {
    position:absolute;
    left:612px;
    top:292px;
    width:18px;
    height:18px;
}

#u118_img {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:18px;
}

.u119 {
    position:absolute;
    left:2px;
    top:1px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118 {
    position:absolute;
    left:612px;
    top:292px;
    width:18px;
    height:18px
}

.u120 {
    position:absolute;
    left:555px;
    top:291px;
    width:45px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121 {
    position:absolute;
    left:455px;
    top:290px;
    width:45px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_original {
    background-image: url('../学校信息_files/u122_original.png');
}

.u122_container {
    position:absolute;
    left:330px;
    top:380px;
    width:690px;
    height:310px;
}

#u122_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:696px;
    height:316px;
}

.u123 {
    position:absolute;
    left:2px;
    top:147px;
    width:686px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:330px;
    top:380px;
    width:690px;
    height:310px
}

.u124_original {
    background-image: url('../学校信息_files/u106_original.png');
}

.u124_container {
    position:absolute;
    left:360px;
    top:370px;
    width:80px;
    height:20px;
}

#u124_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:26px;
}

.u125 {
    position:absolute;
    left:2px;
    top:0px;
    width:76px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124 {
    position:absolute;
    left:360px;
    top:370px;
    width:80px;
    height:20px
}

.u126_original {
    background-image: url('../学校信息_files/u126_original.png');
}

.u126_container {
    position:absolute;
    left:780px;
    top:325px;
    width:100px;
    height:25px;
}

#u126_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u127 {
    position:absolute;
    left:2px;
    top:3px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126 {
    position:absolute;
    left:780px;
    top:325px;
    width:100px;
    height:25px
}

.u128_original {
    background-image: url('../学校信息_files/u126_original.png');
}

.u128_container {
    position:absolute;
    left:890px;
    top:325px;
    width:100px;
    height:25px;
}

#u128_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u129 {
    position:absolute;
    left:2px;
    top:3px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128 {
    position:absolute;
    left:890px;
    top:325px;
    width:100px;
    height:25px
}

.u130 {
    position:absolute;
    left:375px;
    top:401px;
    width:70px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131 {
    position:absolute;
    left:455px;
    top:401px;
    width:75px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132_original {
    background-image: url('../学校信息_files/u104_original.png');
}

.u132_container {
    position:absolute;
    left:532px;
    top:402px;
    width:18px;
    height:18px;
}

#u132_img {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:18px;
}

.u133 {
    position:absolute;
    left:2px;
    top:1px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132 {
    position:absolute;
    left:532px;
    top:402px;
    width:18px;
    height:18px
}

.u134 {
    position:absolute;
    left:375px;
    top:321px;
    width:70px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135 {
    position:absolute;
    left:455px;
    top:321px;
    width:55px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136_original {
    background-image: url('../学校信息_files/u104_original.png');
}

.u136_container {
    position:absolute;
    left:522px;
    top:322px;
    width:18px;
    height:18px;
}

#u136_img {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:18px;
}

.u137 {
    position:absolute;
    left:2px;
    top:1px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136 {
    position:absolute;
    left:522px;
    top:322px;
    width:18px;
    height:18px
}

.u138 {
    position:absolute;
    left:375px;
    top:431px;
    width:70px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139 {
    position:absolute;
    left:455px;
    top:431px;
    width:105px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140_original {
    background-image: url('../学校信息_files/u104_original.png');
}

.u140_container {
    position:absolute;
    left:572px;
    top:432px;
    width:18px;
    height:18px;
}

#u140_img {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:18px;
}

.u141 {
    position:absolute;
    left:2px;
    top:1px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140 {
    position:absolute;
    left:572px;
    top:432px;
    width:18px;
    height:18px
}

.u142 {
    position:absolute;
    left:375px;
    top:491px;
    width:70px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143 {
    position:absolute;
    left:455px;
    top:491px;
    width:255px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144_original {
    background-image: url('../学校信息_files/u104_original.png');
}

.u144_container {
    position:absolute;
    left:660px;
    top:492px;
    width:18px;
    height:18px;
}

#u144_img {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:18px;
}

.u145 {
    position:absolute;
    left:2px;
    top:1px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144 {
    position:absolute;
    left:660px;
    top:492px;
    width:18px;
    height:18px
}

.u146 {
    position:absolute;
    left:375px;
    top:461px;
    width:70px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147 {
    position:absolute;
    left:455px;
    top:461px;
    width:145px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148_original {
    background-image: url('../学校信息_files/u104_original.png');
}

.u148_container {
    position:absolute;
    left:602px;
    top:462px;
    width:18px;
    height:18px;
}

#u148_img {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:18px;
}

.u149 {
    position:absolute;
    left:2px;
    top:1px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148 {
    position:absolute;
    left:602px;
    top:462px;
    width:18px;
    height:18px
}

.u150 {
    position:absolute;
    left:375px;
    top:521px;
    width:70px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151 {
    position:absolute;
    left:455px;
    top:521px;
    width:445px;
    height:133px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152_original {
    background-image: url('../学校信息_files/u104_original.png');
}

.u152_container {
    position:absolute;
    left:912px;
    top:630px;
    width:18px;
    height:18px;
}

#u152_img {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:18px;
}

.u153 {
    position:absolute;
    left:2px;
    top:1px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152 {
    position:absolute;
    left:912px;
    top:630px;
    width:18px;
    height:18px
}

.u154_original {
    background-image: url('../学校信息_files/u126_original.png');
}

.u154_container {
    position:absolute;
    left:780px;
    top:655px;
    width:100px;
    height:25px;
}

#u154_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u155 {
    position:absolute;
    left:2px;
    top:3px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154 {
    position:absolute;
    left:780px;
    top:655px;
    width:100px;
    height:25px
}

.u156_original {
    background-image: url('../学校信息_files/u126_original.png');
}

.u156_container {
    position:absolute;
    left:890px;
    top:655px;
    width:100px;
    height:25px;
}

#u156_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u157 {
    position:absolute;
    left:2px;
    top:3px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156 {
    position:absolute;
    left:890px;
    top:655px;
    width:100px;
    height:25px
}

.u158_original {
    background-image: url('../学校信息_files/u158_original.png');
}

.u158_container {
    position:absolute;
    left:830px;
    top:140px;
    width:98px;
    height:20px;
}

#u158_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:104px;
    height:26px;
}

.u159 {
    position:absolute;
    left:2px;
    top:2px;
    width:94px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158 {
    position:absolute;
    left:830px;
    top:140px;
    width:98px;
    height:20px
}

.u160_original {
    background-image: url('../学校信息_files/u160_original.png');
}

.u160_container {
    position:absolute;
    left:495px;
    top:11px;
    width:18px;
    height:18px;
}

#u160_img {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:18px;
}

.u161 {
    position:absolute;
    left:2px;
    top:1px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u160 {
    position:absolute;
    left:495px;
    top:11px;
    width:18px;
    height:18px
}

