<footer class="Footer">
    <div class="Content">
        <p class="">
            Powered by Company Name v1.0  ©2014-2017 智慧校园网<br />
            版权所有 Copyright© www.taedu.gov.cn All Rights Reserved.
        </p>
    </div>
</footer>
