
@{
    Layout = null;
}
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/ClassCenter/css/member.css")">
<div class="content">
    @Html.Action("TeacherPart")
    @Html.Action("StudentPart")
</div>
