<ul class="clearfix">
    <li>
        <i class="icon_msg"></i><span>消息</span>
        <span class="count">0</span>
    </li>
    <li>
        <i class="icon_email"></i><span>通知</span>
        <span class="count">@ViewBag.NoticeCount</span>
    </li>
</ul>