@model UCHome.Model.View_Simple_SchoolClass
<ul>
    <li class="teaphoto">
        <img src="@Url.Content("~/content/images/man.png")" border="0" />
    </li>
    <li class="classname">@Model.njmc @Model.xzbmc</li>   
</ul>
